.fridge {
    width: 30vw;
    height: 70vh;
    border: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    max-width: 300px;
}


.fridge-container {
    position: relative;
}
.fridge-inline {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .color-selector {
    width: 125px;
    height: 25px;
    position: fixed;
    left: 9px;
    top: 80px;
}


.color-selector tr {
    width: 140px;
}
.color-selector td {
    width: 50px;
}

.color-selector td:nth-child(1) {
    background-color:#cdb4db
}
.color-selector td:nth-child(2) {
    background-color:#ffc8dd
}
.color-selector td:nth-child(3) {
    background-color:#ffafcc
}
.color-selector td:nth-child(4) {
    background-color:#bde0fe
}
.color-selector td:nth-child(5) {
    background-color:#a2d1ff
}
input[type=submit] {
    position: relative;
    top: 40px;
}
input[type=color] {
    position: relative;
    top: 2px;
}
.glass {
    padding-left: 10px;
    width: 90%;
    height: 21vh;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.297);
    backdrop-filter: blur(4px);
    box-shadow: 6px 10px 16px #6616ad,-6px -8px 16px #bde0fe;
    position: relative;
    right: 0px;
    bottom: 10px;
}