.mapcontainer {
    float: right;
    width: 100%;
    color: #cc81d2;
    margin-top: 10px;
    font-size: 12px;
    align-items: right;
    cursor: url('../../assets/grabcursorsmolest.png'), auto !important;
}

.map {
    height: 250px;
    border: 10px;
    width: inherit;
    cursor: url('../../assets/grabcursorsmolest.png'), auto !important;
}

#mapbackground {
    z-index: 1;
    mask: url(../../assets/Blob_Mask_blackandwhite.svg);
    mask-size: 30vw 30vh;
    mask-repeat: no-repeat;
    height: 200px;
}

.highlighttext {
    background-color: black;
    padding: 0 0 3px 3px;
    border-radius: 4px;
}