.magpiecontainer {
    position: absolute;

    left: 0;
    top: 5vh;
}
    
.magpie {
    width: 400px;
    border: 10px;
    cursor:url('../../assets/pointingcursorsmolest.png'), auto !important;
}

