.countdownouter {
    align-items: center;
    display: flex;
    position: absolute;
    right: 10px;
    top: 20px;
}
div.container {
    text-align: center;
}
.countdowncontainer {
    border-radius: 25px;
    height: 100px;
    width: 500px;
    position: absolute;
    right: 10px;
    top: 20px;
    color: #cc81d2;
    margin: 0 auto;
    text-align: center;
    float: right;
}

.countdown-h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: 1.3vw;
    display: inline;
    white-space: nowrap;
}
.countdown-li {
    display: inline-block;
    font-size: 1vw;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
}
.countdown-li-span {
    display: block;
    font-size: 2.5vw;
    white-space: nowrap;
    background-color: black;
    padding: 3px;
    border-radius: 4px;
}

#headline {
    background-color: black;
    padding: 3px;
    border-radius: 4px;
}