@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }

  @property --s{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
  }

  @property --c{
    syntax: '<color>';
    inherits: true;
    initial-value: blue;
  }
  
  .timezone-out {
    position: relative;
    margin: 0px;
    padding: 15vh;
  }
  

  .timezone-in {
	position: absolute;
    top: 10%;
    left: 25%;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.50;          /* Netscape */
    -khtml-opacity: 0.50;        /* Safari 1.x */
    opacity: 0.50;               /* Good browsers */
}

#piebackground {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=25);  /* IE 5-7 */
    -moz-opacity: 0.25;          /* Netscape */
    -khtml-opacity: 0.25;        /* Safari 1.x */
    opacity: 0.25;
    z-index: 1;
}
  .pie {
    z-index: 2;
    --p:20;
    --b:22px;
    /*--c:darkred;*/
    --w:150px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      /*radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,*/
      conic-gradient(from var(--s), var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  /*
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  */
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }
  

/*
.timezonecontainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #e3edf7;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.skill {
    width: 200px;
    height: 200px;
    background: cornflowerblue;
    position: relative;
    display: inline-block;
    display: block;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 1px solid red;
    padding: 10px;
    box-shadow: 6px 5px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    margin: auto;
    
}

.inner {
    margin-top: 20px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 1px solid rgb(34, 146, 101);
    margin: auto;
}
*/
/*
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.timezonecontainer {
    width: 400px;
    border-style: solid;
    border-color: #ff8fc1;
}

.container
{
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .card
{
    position: relative;
    width: inherit;
    height: inherit;
    text-align: center;
    align-items: center;
    z-index: 10;
}

.container .card .box
{
    /*
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(8, 52, 226, 0.903);
    z-index: 10;
    border-radius: 20px;
}
.percent
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    z-index: 10;
}

.percent .number
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number h2
{
    color: #ff8fc1;
    font-weight:700;
    font-size: 40px;
}

.percent .number h2 span
{
    color: #ff8fc1;
    font-weight:700;
    font-size: 30px;
}

.text
{
    position: absolute;
    bottom: -42px;
    Left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgb(255, 0, 0);
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    Letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s,0.5s,0s,0.5s;
    color: #fff;
}

.card:hover .text
{
    transition-delay: 0s,0.5s,0.5s,0s;
    z-index: 11;
    padding: 0px;
}

.card:nth-child(1) .text
{
    background: #ff0461;
}

.circlecontainer
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.circlecontainer circle
{
    width: 100;
    height: 100%;
    opacity: 0.5;
    fill: none;
    stroke-width: 35;
    transform: translate(25%,30%);
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.circlecontainer circle:nth-child(1)
{
    stroke: red;
    opacity: 0.5;
    
    stroke-dashoffset: calc(440 - (440 * 10) / 100);
}

/*
.circlecontainer circle:nth-child(2)
{
    stroke: linear-gradient(red, yellow);
    opacity: 0.5;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
}*/

/*
.card:nth-child(1) .circlecontainer circle:nth-child(2)
{
    stroke-dashoffset: calc(440px - (440px * 100) / 100);
}*/