.postitscontainer {
    position: absolute;
    cursor:move;
    width: 10vh;
    height: 10vh;
    background-image: url('../../assets/postit1.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    z-index: 100;
}

.postit-x {
    cursor:pointer;
}

.postitmessage {
    position:relative;
    top:-12px;
    padding-left: 5%;
    padding-right: 5%;
    overflow-wrap: break-word;
    font-size: 12px;
}