.postitscontainer {
    position: absolute;
    top:10%;
    left:5%;
    width: 10vh;
    height: 10vh;
    background: aqua;
    background-image: url('../../assets/postit1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}

.postitmessage {
    padding-top:20%;
}